{% extends "base.html" %}




{% block title %}Home{% endblock %}



{% block content %}


<div>
	<center> <h1> Current Stats of {{username}} </h1> </center>
</div>

<div class="awards" id="section1">
	<figure class="figure" style="margin-left: 150px;" >
		<img style= "padding-top: 50px;" src="/static/pokeball.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;">
			A caption for the above image.
		</figcaption>
	</figure>

	<figure class="figure" style="margin-left: 120px; margin-right: 80px; " >
		<img src="/static/champion.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;"> A caption for the above image. </figcaption>
	</figure>

	<figure class="figure" style="margin-right: 150px;" >
		<img src="/static/death.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;">A caption for the above image.</figcaption>
	</figure>


	<div>
		<img src="/static/normal.png" class="rounded float-right" width="50" height="50" alt="...">
	</div>
</div>



<div class="awards" id="section2">
	<figure class="figure" style="margin-left: 150px;" >
		<img style= "padding-top: 50px;" src="/static/pokeball.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;">
			A caption for the above image.
		</figcaption>
	</figure>

	<figure class="figure" style="margin-left: 120px; margin-right: 80px; " >
		<img src="/static/champion.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;"> A caption for the above image. </figcaption>
	</figure>

	<figure class="figure" style="margin-right: 150px;" >
		<img src="/static/death.png"  class="figure-img img-fluid rounded" width="300px">
  	<figcaption class="figure-caption text-center" style="border: 3px solid #100;">A caption for the above image.</figcaption>
	</figure>

	<div>
		<img src="/static/water.png" class="rounded float-right" width="50" height="50" alt="...">
	</div>
</div>



{% endblock %}
